name: Release
run-name: Release v${{ inputs.version }}
on:
  workflow_dispatch:
    inputs:
      version:
        description: version. The next release version (without prefix v)
        required: true
permissions: {}
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2
        id: app-token
        with:
          app-id: ${{ vars.APP_ID }}
          private-key: ${{ secrets.PRIVATE_KEY }}

      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          token: ${{ steps.app-token.outputs.token }}

      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v5
        with:
          node-version: 24
          check-latest: true
          cache: npm

      - run: npm ci

      - name: Bump the package version
        run: |
          mv package.json /tmp/
          jq '.version = "${{ inputs.version }}"' /tmp/package.json | tee package.json
          npm i --package-lock-only

      - uses: yykamei/actions-git-push@c9bcec4304fde1cf89d4abdf23280713e66c034d # main
        with:
          commit-message: Bump to ${{ inputs.version }}

      - uses: yykamei/actions-release-actions@451f5f47bc1e9cdad23d644cefd5413fe557b94a # main
        with:
          token: ${{ steps.app-token.outputs.token }}
          tag: v${{ inputs.version }}
          apply: true
