name: Release
run-name: Release v${{ inputs.version }}
on:
  workflow_dispatch:
    inputs:
      version:
        description: version. The next release version (without prefix v)
        required: true
permissions: {}
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2
        id: app-token
        with:
          app-id: ${{ vars.APP_ID }}
          private-key: ${{ secrets.PRIVATE_KEY }}

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          token: ${{ steps.app-token.outputs.token }}

      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 24
          check-latest: true
          cache: npm

      - run: npm ci

      - name: Bump the package version
        run: |
          mv package.json /tmp/
          jq '.version = "${{ inputs.version }}"' /tmp/package.json | tee package.json
          npm i --package-lock-only

      - uses: yykamei/actions-git-push@c9bcec4304fde1cf89d4abdf23280713e66c034d # main
        with:
          commit-message: Bump to ${{ inputs.version }}

      - uses: yykamei/actions-release-actions@451f5f47bc1e9cdad23d644cefd5413fe557b94a # main
        with:
          token: ${{ steps.app-token.outputs.token }}
          tag: v${{ inputs.version }}
          apply: true
